@import "./variaveis.scss";

#section-sobre {
    padding: 20px 15px 0px 15px;
    background: $preto url("../../assets/images/background003.jpg") center bottom no-repeat fixed;
    background-size: cover;

    h1 {
        text-align: center;
    }

    h1,
    h2 {
        color: $branco;
        font-family: 'red-dead';
    }

    .text {
        padding: 20px 15px;
        background-color: hsla(0, 0%, 0%, 0.514);
        color: $branco;
        text-align: justify;
        border-radius: 20px;
        backdrop-filter: blur(10px);
    }
}

#section-trailer {
    padding: 50px 10px;

    h2 {
        color: $branco;
        font-family: 'red-dead';
        text-align: center;
    }

    .trailer {
        padding-bottom: 59%;
        position: relative;

        iframe {
            position: absolute;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
        }
    }
}

#section-reviews{
    padding: 20px 15px 20px 15px;
    background: $preto url("../../assets/images/background005.jpg") center center no-repeat fixed;
    background-size: cover;


    h2{
        color: white;
        background-color: hsla(0, 0%, 0%, 0.514);
        padding: 10px;
        margin: 10px auto;
        width: min-content;
        font-family: 'red-dead';
        text-align: center;
        border-radius: 20px;
    }

    a{
        text-decoration: none;
    }

    .review-card{
        background-color: $preto;
        border: 5px solid $vermelho;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 20px;
        transition: .3s;

        &:hover{
            transform: scale(1.1);
        }

        h3{
            text-align: center;
            color: $vermelho;
        }

        h4{
            color: white;
            font-family: 'red-dead';
            font-size: 4em;
            text-align: center;
            margin-bottom: 0px;
        }
    }
}

@media (max-width: 700px){
    .review-card{
        @include flex(end, space-evenly);
        flex-direction: row-reverse;
        margin-bottom: 20px;
        
        h4{
            font-size: 3em;
        }
    }
}