@import "./variaveis.scss";

*{
    padding: 0px;
    margin: 0px;
}

header{
    @include flex(center, space-between);
    position: fixed;
    width: 100%;
    padding: 10px 15px;
    height: min-content;
    backdrop-filter: blur(10px);
    z-index: 1;
    img{
        width: 130px;
    }
}

nav{
    ul{
        @include flex(center, space-between);
        width: 250px;
        margin: 0;
        padding: 0;
        a{
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }
    }
}
body{
    background-color: $preto;
}

main{
    img{
        width: 100%;
    }
}

footer{
    color: $branco;
    background-color: $vermelho;
    padding: 10px 15px;

    p{
        margin-bottom: 0px;
    }

    .links-area{
        a{
            color: #fff;
            text-decoration: none;
        }
    }
}