// Fontes
@font-face {
    font-family: "red-dead";
    src: url("../../assets/fonts/chinese rocks rg.otf");
}

// Mixin
@mixin flex($aling, $justify){
    display: flex;
    align-items: $aling;
    justify-content: $justify;
}

// Cores
$branco: #FFFFFF;
$preto: #0D0D0D;
$vermelho: #C81E21;
$amarelo: #F29F05;
$laranja: #F28705;